:root {
    --couleurUI: #337ab7;
    --couleurUIHover: #337aa7;
    --couleurUIDeconCadre: #d9edf7;
    --couleurUIDeconBorder: #0067b0;
    --couleurUIDeconText: #c86400;
}

.header {
    margin-top: 10px;
}

.panel-primary {
    border-color: var(--couleurUI);
}

.panel-primary > .panel-heading {
    background-color: var(--couleurUI);
    border-color: var(--couleurUIBorder);
}

.nav-pills > li.active > a {
    background-color: var(--couleurUI);
}

a {
    color: var(--couleurUI);
}

.nav-pills > li > a:hover {
    color: var(--couleurUI) !important;
}

.nav-pills > li.active > a:hover {
    color: white !important;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: var(--couleurUIHover);
}

.alert-info {
    color: var(--couleurUIDeconText);
    background-color: var(--couleurUIDeconCadre);
    border-color: var(--couleurUIDeconBorder);
}

.btn-primary {
    background-color: var(--couleurUI);
    border-color: var(--couleurUIDeconBorder);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--couleurUIHover) !important;
    border-color: var(--couleurUIDeconBorder) !important;
}

h2 {
    color : var(--couleurUI);
}

#choix-visiteur {
    margin-top: 15px;
}

.alert.alert-success {
    margin-top: 10px !important;
    width: fit-content;
}

#table-hors-forfait th {
    width: 25%;
}

#labelIdNbJustificatifs {
    margin-right: 5px;
    margin-top: 7px;
    float: left;
}

#gpeBtnsNbJustificatifs {
    margin-top: 20px;
    margin-bottom: 30px;
}